*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
body
{
    background-image: url("gceenter.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.login-form
{
    width:350px;
    top:50%;
    left:50%;
    transform:translate();
    position: absolute;
    color:black;
}
.login-form p{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin:40px 0;
}
.login-form p{
    font-size:20px;
    margin: 15px 0;
}
.login-form input{
    font-size:16px;
    width:100%;
    padding: 15px 10px;
    border:0;
    border-radius: 18px;
}
.login-form button{
    font-size:18px;
    font-weight:bold;
    margin:20px 0;
    padding:10px 15px;
    width:50%;
    border-radius:5px;
}

